/*image list*/
.img-container {
    position: relative;
    width: 100%;
}

.text-header{
    color :white;
    font-size: 12px;
}
.text-header:hover{
    text-decoration: underline;
}

.thumbnail {
    margin: 10px -10px;
    height: inherit;
}

.img-middle {
    position: absolute;
    left: 0;
    top: 42%;
    overflow: hidden;
    width: 100%;
    opacity: 0;
    transition: .75s ease;
}

.img-middle a {
    text-decoration: none;
}

.img-container:hover .img-middle {
    opacity: 1;
}
.product-item:hover .img-middle-cate{
    opacity: 1;
}

.img-middle-cate {
    position: absolute;
    left: 0;
    top: 30%;
    overflow: hidden;
    width: 100%;
    opacity: 0;
    transition: .75s ease;
}
.img-middle-cate a{
    text-decoration: none;
}
.img-overlay {
    background-color: white;
    font-size: 25px;
    margin: 0 15px 20px;
    text-align: center;
}

.img-label {
    margin: 10%;
    height: 95px;
}

.img-btn {
    padding: 15% 20%;
    border: none;
}

.img-name {
    height: 30px;
}

.img-adv {
    position: absolute;
    right: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 10px;
    color: white;
    line-height: 50px;
    text-align: center;
    background: red
}
.feedback-label {
    display:block;
    width:inherit;
    text-overflow:ellipsis;
    overflow:hidden;
    height:155px;
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
}
.product-item h3{
    font-weight: bold;
}
.product-item p{
    font-weight: bold;
}
.product-item{
    height: 350px;
}
.img-adv p{
    font-weight: bold;
    font-size: medium;
}
.widget ul{
     padding-left: 0;
     list-style: none;
 }
.widget ul li a{
    color : #acacac;
}

.widget ul li a:hover {
    color: #acacac;
    text-decoration: none;
}

/*nav bar*/
.affix {
    top: 0;
    width: 100%;
}

.nav-wrapper {
    position: relative;
    background: #fff;
    z-index: 2;
}

.nav-nomargin {
    margin-bottom: 0;
    background: #fff;
}

/*side bar*/
@media (min-width: 768px) {
    .sidebar-nav .navbar .navbar-collapse {
        padding: 0;
        max-height: none;
    }
    
    .sidebar-nav .navbar ul {
        float: none;
        display: block;
    }
    
    .sidebar-nav .navbar li {
        float: none;
        display: block;
    }
    
    .sidebar-nav .navbar li a {
        padding-top: 12px;
        padding-bottom: 12px;
    }
}

/*footer*/
.footer-wrapper {
    color: #fff;
    background-color: #252525;
    padding: 70px 0;
    margin-top: 130px;
}

/*header*/
.header-wrapper {
    color: #fff;
    background-color: #000;
    padding-top: 5px;
}
.header-wrapper a{
    text-decoration: none;
    color: #fff;
}

.page-wrap {
    min-height: 100%;
    /* equal to footer height */
    margin-bottom: -200px;
}

/*Section*/

.section-row {
    margin: 30px 0;
}

.row hr {
    border: solid 1px;
    
}

.section-title {
    border: 2px solid;
    font-size: 18px;
    font-weight: bold;
    padding: 5px;
}

.section-button {
    border: 1px solid;
    font-size: 15px;
    border-radius: 0px;
    font-weight: bold;
    padding: 5px 15px;
}

/*card*/
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    
}

/*zoom*/

div#gal1 a.thumbnail {
    float: left;
    width: 22%;
    margin: 0;
    margin-right: 10px;
}

div#gal1 a.thumbnail:last-child {
    margin-right: 0;
}

div#gal1 a.thumbnail img#zoom_01 {
    height: 55px !important;
}

div#gal1 {
    margin-top: 10px;
}

div#gal1 a.thumbnail {
    float: left;
    width: 11%;
    margin: 0;
    margin-right: 11px;
}

.zoomWrapper {
    width: 100% !important;
    padding: 3px;
    border: 1px solid #ccc;
}

#zoom_01 {
    width: 292px;
    height: 294px;
    background: #ffffff;
    padding: 5px;
}

img#zoom_01 {
    width: 100% !important;
    height: 100% !important;
    position: relative !important;
    padding: 0;
}

.panel-body {
    background-color: #EEEEEE;
}

.spacer {
    margin: 20%;
}

.item {
    height: 401px;
}
/*.item{*/
    /*min-height: 401px;*/
/*}*/

.footer{
    color: #fff;
    background: #151213;
    padding-top: 40px;
    margin-top: 50px;
}
.footer p{
    color: #b4b4b4;
}

.footer h4{
    margin-top: 10px;
}
.mobile-icon{
    color: #fff;
}
.fa{
    text-decoration: none;
    color: #fff;
}
.fa:hover {
    opacity: 0.7;
}
.mobile-icon ul li{
    display: inline;
    margin: 0px 5px;
}
.footer ul li a{
    text-decoration: none;
    color: #b4b4b4;
}

.footer ul li{
    margin-bottom: 15px;
}
.header-wrapper ul li{
    display: inline;
    margin-left: 10px;
}
.policy-text p{
    color: #6a6a6a;
}
.info{
    margin-top: 15px;
}
.login-area ul li{
    display: inline;
    margin-left: 10px;
}

.login-area ul li a{
    color: #2a2a2a;
}
.nav li a{
    color: #1a1a1a;
    font-weight: bold;
}
.nav li a:hover{
    background: #fff;
    color: #8f8f8f;
}
.trangchu ul{
    display: none;
}
.trangchu a{
    text-decoration: none;
}
.lienhe{
    position: absolute;
    background: #fff;
    width: 200px;

}
.lienhe a{
    text-decoration: none;
    margin-bottom: 20px;
    margin-left: 15px;
}
.lienhe li{
    margin-bottom: 15px;
}
.trangchu:hover .lienhe{
    display: block;
}
.input-group-btn .fa{
    color: #1c1c1c;
}
.section-row a:hover{
    opacity: .5;
}
.breadcrumb{
    background: #fff;
}
ol.breadcrumb{
    margin-top: 20px;
}
ol.breadcrumb a{
    color: #545454;
    font-weight: bold;
    text-decoration: none;
}
a{
    text-decoration: none;
    color: #545454;
}
.section-row a{
    color: #000;
    font-weight: bold;
}
.section-row a:hover{
    text-decoration: none;
}
.carousel .item {
    height: 360px;
}

.item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
}
.nlienhe .form-control{
    border-radius: 0px;
    border: 1px solid;
    padding: 10px;
    margin-top: 5px;
}
.nlienhe .form-group{
    margin-bottom: 15px;
}
.mybtn{
    border-radius: 0px;
    border: none;
    background: #353535;
    color: #fff;
    width: 120px;
    font-weight: bold;
    padding: 10px 15px;
    margin: 5px 5px;
}
.mybtn:hover{
    background: #ffbe5f;
}
h3{
    font-weight: bold;
}
a.mya{
    text-decoration: none;
    color: #545454;
}
a.mya:hover{
    color: #afafaf;
}
.form-cart .form-control{
    border-radius: 0px;
    border: 1px solid;
}

.myform{
    border-radius: 0px;
    border: 1px solid;
}

.my-default-btn{
    border-radius: 0px;
    border: none;
    background: #353535;
    color: #fff;
    font-weight: bold;
    padding: 10px 15px;
    margin: 5px 5px;
}
.my-default-btn:hover{
    background: #ffbe5f;
}
tr>th{
    font-weight: bold;
    font-size: 18px;
}